/* main css */
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
}
:root {
    --purple-color: #8f77f4;
    --green-color: #83ec1b;
    --dark-color: #111111;
    --main-color: #f2f2f2;
}
/* navbar */
.logo {
    color: var(--purple-color);
    text-decoration: none;
    font-size: 30px;
}
.navbar-toggler-1 {
    padding: 10px;
    color: black;
    font-size: 25px;
}
.navbar-toggler-1 {
    display: none;
}
.dropdown-menu {
    background-color: #f8f9fa;
}
.navbar-nav {
    padding-left: 10px;
}
.nav-link:hover {
    color: #8f77f4;
}
.dropdown-item:hover {
    color: #ffffff;
    background-color: #8f77f4;
}
.form-control:focus {
    box-shadow: none;
    border: solid 2px #83ec1b;
} 
.form-control {
    background-color: #f8f9fa;
    border: solid 2px #8f77f4;
}
.btn-outline-success-ga {
    border: solid 2px #8f77f4;
    color: #8f77f4;
}
.btn-outline-success-ga:hover {
    border: solid 2px #83ec1b;
    color: #83ec1b;
    background-color: #f8f9fa;
}
.btn-main-ga-1 {
    background-color: #83ec1b;
    padding: 17px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 3px #3a3636;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
}
.btn-main-ga-1:hover {
    color: white;
    background-color: #8f77f4;
    border: solid 3px #8f77f4;
}
.btn-main-ga-2 {
    background-color: #8f77f4;
    padding: 17px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 3px #3a3636;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: medium;
}
.btn-main-ga-2:hover {
    color: rgb(0, 0, 0);
    background-color: #83ec1b;
    border: solid 3px #83ec1b;
}
header h1 {
    font-size: 45px;
    padding-top: 20%;
}
header p {
    padding-bottom: 30px;
}
header img {
    padding-top: 13%;
}
.All-we-offer {
    background-color: #f2f2f2;
    margin-top: 7%;
}
.card-1 {
    background-color: white;
    border-radius: 5%;
}
.card-1 svg {
    padding-top: 3%;
    margin-bottom: 34px;
    font-size: 40px;
    color: #111111;
}
.card-2 {
    background-color: var(--green-color);
    border-radius: 5%;
}
.card-2 svg {
    padding-top: 3%;
    margin-bottom: 34px;
    font-size: 40px;
    color: #111111;
}
.card-3 {
    background-color: white;
    border-radius: 5%;
}
.card-3 svg {
    padding-top: 3%;
    margin-bottom: 34px;
    font-size: 40px;
    color: #111111;
}
.card-4 {
    background-color: var(--purple-color);
    border-radius: 5%;
}
.card-4 svg {
    padding-top: 3%;
    margin-bottom: 34px;
    font-size: 40px;
    color: #ffffff;
}
.card-5 {
    background-color: white;
    border-radius: 5%;
}
.card-5 svg {
    padding-top: 3%;
    margin-bottom: 34px;
    font-size: 40px;
    color: #000000;
}
.card-6 {
    background-color: var(--purple-color);
    border-radius: 5%;
}
.card-6 svg {
    padding-top: 3%;
    margin-bottom: 34px;
    font-size: 40px;
    color: #ffffff;
}
.Our-Advantages h1 {
    font-size: 45px;
    padding-top: 20%;
}
.Our-Advantages p {
    margin-bottom: 50px;
    margin-top: 30px;
}
.accordion-flush {
    margin-top: 79px;
}
.accordion-item {
    margin-top: 10px;
}
.accordion-button-1 {
    background-color: #f8f9fa;
    border: solid 3px #8f77f4;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
}
.accordion-button-1 svg {
    margin-left: 30px;
    color: #8f77f4;
}
.accordion-button-2 {
    background-color: #f8f9fa;
    border: solid 3px #83ec1b;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
}
.accordion-button-2 svg {
    margin-left: 30px;
    color: #83ec1b;
}
.accordion-button-3 {
    background-color: #f8f9fa;
    border: solid 3px #111111;
    font-size: 17px;
    padding: 20px;
    border-radius: 10px;
}
.accordion-button-3 svg {
    margin-left: 30px;
    color: #111111;
}
.accordion-button-1:hover {
    color: #8f77f4;
}
.accordion-button-2:hover {
    color: #83ec1b;
}
.accordion-button-3:hover {
    color: #111111;
}
.accordion-body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h-space {
    margin-top: 8%;
}
.information {
    background-color: #8f77f4;
}
.information h3 {
    color: white;
    margin-top: 40px;
}
.information span {
    color: #83ec1b;
    font-size: 50px;
}
.information p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.h-space-2 {
    margin-top: 3%;
}
.About h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.About p {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.About h2 {
    font-size: 20px;
    color: rgb(58, 58, 58);
    line-height: 3rem;
}
.About h2 svg {
    color: #83ec1b;
}
.About a {
    text-decoration: none;
    font-size: 22px;
    color: #111111;
    margin-bottom: 25px;
}
.About a svg {
    color: #8f77f4;
}
.About a:hover {
    color: #8f77f4;
}
.About img {
    margin-top: 20px;
}
.circle-1 {
    background-color: #83ec1b;
    padding: 30px;
    border-radius: 40px;
    color: #8f77f4;
    margin-bottom: 10px;
}
.opinion {
    background-color: #83ec1b;
    margin-top: 40px;
}
.opinion-card {
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}
.opinion  svg {
    font-size: 45px;
    color: #8f77f4;
    margin-top: 20px;
}
.opinion p {
    text-align: center;
}
.btn-main-ga-3 {
    color: #8f77f4;
    font-size: 18px;
    text-decoration: none;
}
.opinion a:hover {
    color: #83ec1b;
}
.Client h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.Client {
    background-color: #8f77f4;
}
.Client img {
    margin-bottom: 40px;
}
.Get-in-Touch h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.Get-in-Touch p {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Get-in-Touch h3 {
    font-size: 25px;
}
.Get-in-Touch svg {
    color: #78ce22;
}
.Get-in-Touch h4 {
    font-size: medium;
}
.Get-in-Touch a {
    color: #78ce22;
    text-decoration: none;
    font-size: 20px;
}
.Get-in-Touch span {
    color: #78ce22;
    font-size: 20px;
}
.Get-in-Touch img {
    margin-top: 60px;
}
.george h4 {
    font-size: 20px;
    margin-top: 70px;
    text-align: center;
    color: #8f77f4;
    margin-bottom: 30px;
}
.george a {
    color: #78ce22;
    text-decoration: none;
}
@media (max-width:988px){
    .navbar-toggler-1 {
    display: flex;
     }
}
@media (max-width:988px){
    .dropdown-toggle {
    margin-top: 15px;
     }
}
@media (max-width:988px){
    header h1 {
    font-size: 35px;
     }
}
@media (max-width:988px){
    .Our-Advantages h1 {
    font-size: 35px;
     }
}
@media (max-width:988px){
    .All-we-offer {
    margin-top: 29%;
     }
}
@media (max-width:988px){
    .h-space {
    margin-top: 25%;
     }
}
@media (max-width:988px){
    .information span {
    display: block;
    margin-bottom: 10px;
     }
}
@media (max-width:988px){
    .About h1 {
    font-size: 35px;
     }
}
@media (max-width:988px){
    .Complete h1 {
    font-size: 35px;
     }
}
@media (max-width:988px){
    .Client h1 {
    font-size: 35px;
     }
}
@media (max-width:988px){
    .Get-in-Touch h1 {
    font-size: 35px;
     }
}